@charset "UTF-8";
header .navbar {
  padding: 0;
}

header .navbar ul li {
  margin-right: 50px;
}

header .navbar ul li a {
  font: normal normal 500 18px/23px "Quicksand";
  text-decoration: none;
  letter-spacing: 0px;
  color: #272727;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

header .navbar ul li a:hover {
  color: #ec6d75;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar ul li:last-of-type {
  margin-right: unset;
  margin-left: unset;
}

header .navbar ul li:last-of-type a {
  font: normal normal 500 18px/23px "Quicksand";
  display: unset;
  text-align: unset;
  border: unset;
  border-radius: unset;
  padding: unset;
  color: unset;
  width: unset;
}

header .navbar ul li:last-of-type a:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

header .navbar ul.-links {
  margin-left: auto;
  margin-right: 0;
}

header .navbar ul.-links li {
  margin: 0;
}

header .navbar ul.-links li a {
  height: 84px;
  padding: 30px 34px;
  display: block;
}

header .navbar ul.-links li a span {
  position: relative;
}

header .navbar ul.-links li a span .-count {
  width: 22px;
  height: 22px;
  background: #272727;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: -20px;
  right: -20px;
}

header .navbar ul.-links li a span .-count span {
  color: #fff;
  font: normal normal 600 18px/56px "Quicksand";
  letter-spacing: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .navbar ul.-links li a.active {
  background: #ffeaea;
  color: #ec6d75;
  font: normal normal bold 18px/23px "Quicksand";
  border-bottom: 4px solid #ec6d75;
}

header .navbar ul.-links li a.active span .-count {
  background: #ec6d75;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar ul.-links li a:hover {
  background: #ffeaea;
  color: #ec6d75;
  font: normal normal bold 18px/23px "Quicksand";
  border-bottom: 4px solid #ec6d75;
}

header .navbar ul.-links li a:hover span .-count {
  background: #ec6d75;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar ul.-profile {
  margin-left: 43px;
}

header .navbar ul.-profile li {
  margin-right: 43px;
}

header .navbar ul.-profile li:last-of-type {
  margin-right: 0px;
}

header .navbar ul.-profile li svg,
header .navbar ul.-profile li img {
  cursor: pointer;
}

header .navbar ul.-profile li img {
  width: 60px;
  height: 60px;
}

header .navbar ul.-profile li .show-messages {
  position: relative;
}

header .navbar ul.-profile li .show-messages .-messages-count {
  width: 22px;
  height: 22px;
  background: #ec6d75;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -12px;
}

header .navbar ul.-profile li .show-messages .-messages-count span {
  color: #fff;
  font: normal normal 600 18px/56px "Quicksand";
  letter-spacing: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Dashboard */
.-dashboard {
  padding: 80px 0px 138px 0px;
}

.-dashboard .container {
  max-width: 1695px;
  /* Main Content */
}

.-dashboard .container .main-content {
  padding-left: 22px;
  /* See All */
}

.-dashboard .container .main-content .see-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 35px;
  font: normal normal bold 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #ec6d75;
  background: transparent;
  text-decoration: underline;
}

.-dashboard .container .main-content .see-all svg {
  margin-left: 15px;
  margin-top: -11px;
}

/* Left Menu */
.-left-menu {
  /* Profile Options */
}

.-left-menu .-options {
  padding: 35px 40px;
  -webkit-box-shadow: 0px 3px 30px #b2b2b23d;
          box-shadow: 0px 3px 30px #b2b2b23d;
  margin: 0;
  list-style: none;
  margin-bottom: 50px;
  background: #fff;
  z-index: 999;
  /* My Stats */
}

.-left-menu .-options:last-of-type {
  margin-bottom: 0px;
}

.-left-menu .-options li {
  margin-bottom: 28px;
}

.-left-menu .-options li:last-of-type {
  margin-bottom: 0px;
}

.-left-menu .-options li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: unset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.-left-menu .-options li a svg,
.-left-menu .-options li a .-stats {
  margin-right: 17px;
}

.-left-menu .-options li a svg,
.-left-menu .-options li a h5 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.-left-menu .-options li a:hover svg,
.-left-menu .-options li a:hover h5 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.-left-menu .-options li a:hover svg {
  fill: #ec6d75;
}

.-left-menu .-options li a:hover h5 {
  color: #ec6d75;
}

.-left-menu .-options li h5 {
  font: normal normal 500 18px/18px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
  margin: 0;
}

.-left-menu .-options li:first-of-type a:hover svg {
  fill: #272727;
}

.-left-menu .-options li:first-of-type a:hover h5 {
  color: #272727;
}

.-left-menu .-options.-my-stats li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.-left-menu .-options.-my-stats li h5 {
  color: #272727;
}

.-left-menu .-options.-my-stats li:last-of-type {
  margin-bottom: 0px;
}

.-left-menu .-options.-my-stats li:first-of-type {
  margin-bottom: 40px;
}

.-left-menu .-options.-my-stats li:first-of-type a {
  text-decoration: underline;
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
  text-transform: uppercase;
}

.-left-menu .-options.-my-stats li:first-of-type a svg {
  margin-left: 11px;
}

.-left-menu .-options.-my-stats li .-stats {
  padding: 2px;
  background: #ededed;
  text-align: center;
  width: 48px;
  border-radius: 15px;
  margin-right: 17px;
}

.-left-menu .-options.-my-stats li .-stats span {
  font: normal normal bold 18px/18px "Quicksand";
  letter-spacing: 0px;
  margin: 0;
  color: #272727;
}

/* Dashboard Banner */
.dashboard-banner {
  margin-bottom: 100px;
}

.dashboard-banner .-last-step {
  padding: 30px 33px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 40px #ec6d7529;
          box-shadow: 0px 3px 40px #ec6d7529;
  border-radius: 4px;
}

.dashboard-banner .-last-step h1 {
  font: normal normal bold 32px/40px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
  margin-bottom: 19px;
}

.dashboard-banner .-last-step p {
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  margin-bottom: 41px;
  color: #777777;
}

.dashboard-banner .-last-step a {
  text-decoration: underline;
  font: normal normal bold 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 16px;
  border: 2px solid #ec6d75;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #ec6d75;
  border-radius: 15px;
}

.dashboard-banner .-offer-ad {
  padding: 41px 0px 36px 33px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 40px #ec6d7529;
          box-shadow: 0px 3px 40px #ec6d7529;
  border-radius: 4px;
  position: relative;
  margin-top: 26px;
}

.dashboard-banner .-offer-ad h1 {
  font: normal normal bold 48px/60px "Quicksand";
  letter-spacing: 0px;
  color: #ec6d75;
  margin-bottom: 10px;
}

.dashboard-banner .-offer-ad h1 span {
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
}

.dashboard-banner .-offer-ad h2 {
  font: normal normal bold 32px/40px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
  margin-bottom: 20px;
}

.dashboard-banner .-offer-ad h2 span {
  color: #ec6d75;
}

.dashboard-banner .-offer-ad a {
  text-decoration: underline;
  font: normal normal bold 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 23px;
  text-align: center;
  border: 2px solid #ec6d75;
  display: block;
  width: 209px;
  background: #ec6d75;
  border-radius: 15px;
}

.dashboard-banner .-offer-ad .-top {
  position: absolute;
  top: -26px;
  left: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 73px;
  background: #ffeaea;
  border-radius: 24px;
}

.dashboard-banner .-offer-ad .-top h5 {
  font: normal normal bold 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #ec6d75;
  text-transform: uppercase;
  margin: 0;
}

.dashboard-banner .-offer-ad .check-points {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dashboard-banner .-offer-ad .check-points li .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-banner .-offer-ad .check-points li .points h4 {
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  margin: 0;
  color: #272727;
}

.dashboard-banner .-offer-ad .check-points li .points svg {
  margin-right: 30px;
}

.dashboard-banner .-offer-ad .check-points li:first-of-type {
  margin-bottom: 25px;
}

.dashboard-banner .-offer-ad .check-points li:nth-of-type(2) {
  margin-bottom: 15px;
}

.dashboard-banner .edit-profile {
  text-decoration: underline;
  font: normal normal bold 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 25px;
  margin: 0 auto;
  border: 2px solid #ec6d75;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #ec6d75;
  border-radius: 15px;
}

/* Availability */
.availability {
  margin-bottom: 100px;
  /* Timing Slider */
}

.availability h2 {
  font: normal normal bold 32px/40px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
}

.availability .hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 12px 4px 6px;
  background: #68c8c625;
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0px 45px 0px;
}

.availability .hint .circle {
  width: 16px;
  height: 16px;
  margin-right: 11px;
  background: #68c8c7;
  border-radius: 50%;
}

.availability .hint span {
  font: normal normal normal 16px/20px "Quicksand";
  letter-spacing: 0px;
  color: #68c8c7;
  margin: 0;
}

.availability .timings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1045px;
  padding: 0px 56px;
}

.availability .timings ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 187px;
  text-align: center;
}

.availability .timings ul:first-of-type li:first-of-type {
  border-top-left-radius: 15px;
  background: #68c8c7;
}

.availability .timings ul:first-of-type li:first-of-type span {
  color: #fff;
}

.availability .timings ul:last-of-type li:first-of-type {
  border-top-right-radius: 15px;
}

.availability .timings ul li {
  padding: 9px 0px;
  border-right: 1px solid #777777;
}

.availability .timings ul li:first-of-type {
  background: #ededed;
  padding: 8px 8px 9px 8px;
  margin-bottom: 14px;
  border-right: 0px;
}

.availability .timings ul li:first-of-type span:first-of-type {
  margin-bottom: 10px;
}

.availability .timings ul li span {
  display: block;
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
  margin: 0;
}

.availability .timings ul li .time-period {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin: 0 auto;
}

.availability .timings ul li .time-period span {
  font: normal normal bold 18px/23px "Quicksand";
  padding: 13px 20px;
  background: #ededed;
  border-radius: 10px;
  text-align: center;
  width: 141px;
}

.availability .timings ul li .time-period.-availed {
  position: relative;
}

.availability .timings ul li .time-period.-availed span {
  background: #e3f5f4;
}

.availability .timings ul li .time-period.-availed::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #68c8c7;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.availability .timings ul li:nth-of-type(2) {
  padding-top: 19px;
}

.availability .timings ul:last-of-type li {
  border-right: 0px;
}

.availability .timings table {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.availability .timings table tbody tr th {
  width: 187px;
  padding: 8px 10px;
  background: #ededed;
  text-align: center;
}

.availability .timings table tbody tr th:first-of-type {
  border-top-left-radius: 15px;
}

.availability .timings table tbody tr th:last-of-type {
  border-top-right-radius: 15px;
}

.availability .timings table tbody tr th span {
  display: block;
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
  margin: 0;
}

.availability .timings table tbody tr th span:first-of-type {
  margin-bottom: 10px;
}

.availability .timings table tbody tr th.today {
  background: #68c8c7;
}

.availability .timings table tbody tr th.today span {
  color: #fff;
}

/* Reservation */
.reservation {
  margin-bottom: 100px;
}

.reservation .-reservation-reserved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.reservation .-reservation-reserved h2,
.reservation .-reservation-reserved span {
  margin: 0;
}

.reservation .-reservation-reserved h2 {
  font: normal normal bold 32px/40px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
}

.reservation .-reservation-reserved .-reserved {
  width: 28px;
  height: 28px;
  position: relative;
  background: #ec6d75;
  border-radius: 50%;
  margin-left: 13px;
}

.reservation .-reservation-reserved .-reserved span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: normal normal 600 18px/56px "Quicksand";
  letter-spacing: 0px;
  color: #ffffff;
}

.reservation .-reserved-by {
  /* All Reservation */
}

.reservation .-reserved-by ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reservation .-reserved-by ul.th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  padding: 0px 36px;
}

.reservation .-reserved-by ul.th li {
  width: 156px;
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #707070;
}

.reservation .-reserved-by .all-reservation .-by {
  margin-bottom: 50px;
}

.reservation .-reserved-by .all-reservation .-by:last-of-type {
  margin-bottom: 0px;
}

.reservation .-reserved-by .all-reservation .-by .-when {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  padding: 6px 36px 26px 36px;
  background: #ffeaea;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-bottom: -20px;
}

.reservation .-reserved-by .all-reservation .-by .-when svg {
  margin-right: 13px;
}

.reservation .-reserved-by .all-reservation .-by .-when h5 {
  font: normal normal bold 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #ec6d75;
  margin: 0;
}

.reservation .-reserved-by .all-reservation .-by .by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 36px 16px 36px;
  -webkit-box-shadow: 0px 3px 30px #b2b2b23d;
          box-shadow: 0px 3px 30px #b2b2b23d;
  max-width: 1077px;
  border-radius: 15px;
  background: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.reservation .-reserved-by .all-reservation .-by .by li {
  width: 156px;
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  padding-right: 20px;
  color: #272727;
}

.reservation .-reserved-by .all-reservation .-by .by li .show-messages {
  position: relative;
}

.reservation .-reserved-by .all-reservation .-by .by li .show-messages .-messages-count {
  width: 22px;
  height: 22px;
  background: #ec6d75;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -12px;
}

.reservation .-reserved-by .all-reservation .-by .by li .show-messages .-messages-count span {
  color: #fff;
  font: normal normal 600 18px/56px "Quicksand";
  letter-spacing: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reservation .-reserved-by .all-reservation .-by .by li:last-of-type {
  width: 98px;
}

/* My Messages */
.my-messages {
  max-width: 1077px;
  margin-bottom: 100px;
  /* All Messages */
}

.my-messages .-inpox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.my-messages .-inpox h2,
.my-messages .-inpox span {
  margin: 0;
}

.my-messages .-inpox h2 {
  font: normal normal bold 32px/40px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
}

.my-messages .-inpox .-reserved {
  width: 28px;
  height: 28px;
  position: relative;
  background: #ec6d75;
  border-radius: 50%;
  margin-left: 13px;
}

.my-messages .-inpox .-reserved span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: normal normal 600 18px/56px "Quicksand";
  letter-spacing: 0px;
  color: #ffffff;
}

.my-messages .-messages {
  /* Message */
}

.my-messages .-messages .-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 19px 56px 16px 36px;
  -webkit-box-shadow: 0px 3px 30px #b2b2b23d;
          box-shadow: 0px 3px 30px #b2b2b23d;
  border-radius: 15px;
  margin-bottom: 50px;
  background: #fff;
}

.my-messages .-messages .-message:last-of-type {
  margin-bottom: 0px;
}

.my-messages .-messages .-message .-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my-messages .-messages .-message .-details a {
  margin-right: 78px;
}

.my-messages .-messages .-message .-details .-message-text h5 {
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
  margin-bottom: 4px;
}

.my-messages .-messages .-message .-details .-message-text p {
  font: normal normal normal 16px/20px "Quicksand";
  letter-spacing: 0px;
  color: #777777;
  text-transform: unset;
}

.my-messages .-messages .-message .show-messages {
  position: relative;
  margin-left: auto;
  margin-right: 0px;
}

.my-messages .-messages .-message .show-messages .-messages-count {
  width: 22px;
  height: 22px;
  background: #ec6d75;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -12px;
}

.my-messages .-messages .-message .show-messages .-messages-count span {
  color: #fff;
  font: normal normal 600 18px/56px "Quicksand";
  letter-spacing: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Presentations */
.presentations {
  max-width: 1077px;
}

.presentations h2 {
  margin-bottom: 40px;
  font: normal normal bold 32px/40px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
}

.presentations .about-presentations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0px 36px;
  margin-bottom: 14px;
  list-style: none;
}

.presentations .about-presentations li {
  width: 229px;
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #777777;
}

.presentations .about-presentations li:last-of-type {
  margin-left: auto;
  margin-right: 0px;
}

.presentations .all-presentations {
  padding: 30px 36px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 30px #b2b2b23d;
          box-shadow: 0px 3px 30px #b2b2b23d;
  border-radius: 15px;
}

.presentations .all-presentations .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #777777;
  margin-top: 30px;
}

.presentations .all-presentations .presentation:first-of-type {
  margin-top: 0px;
}

.presentations .all-presentations .presentation h5,
.presentations .all-presentations .presentation a {
  margin: 0;
}

.presentations .all-presentations .presentation h5 {
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
}

.presentations .all-presentations .presentation .prix {
  margin-left: auto;
  margin-right: 0px;
  width: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentations .all-presentations .presentation .prix a {
  text-decoration: underline;
  font: normal normal bold 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #ec6d75;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 0px;
}

/* Custom Slick Arrows */
.slick-prev,
.slick-next {
  border: none;
  outline: none;
  display: block;
  width: 34px;
  height: 34px;
  background: #68c8c7;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  border-radius: 50%;
}

.slick-prev:focus,
.slick-next:focus {
  border: none;
  outline: none;
}

.slick-prev {
  left: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-top: -13px;
}

.slick-next {
  right: 0;
}

.slick-prev:before,
.slick-next:before {
  content: "➜";
  color: #fff;
  font-size: 16px;
}

.slick-active:nth-child(5n) li:first-of-type {
  border-top-right-radius: 18px;
}

.-back {
  margin-bottom: 17px;
}

.-back a {
  font: normal normal bold 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #777777;
  text-transform: uppercase;
  text-decoration: underline;
}

.heading-repeat {
  margin-bottom: 45px;
}

.heading-repeat a {
  text-decoration: underline;
  font: normal normal 500 18px/23px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
  text-transform: uppercase;
}

.heading-repeat a.this-weak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-repeat a.this-weak h5 {
  margin: 0;
}

.heading-repeat a.this-weak svg {
  margin-left: 13px;
}

.heading-repeat .-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 28px;
}

.heading-repeat .-heading .-inpox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-repeat .-heading .-inpox h2,
.heading-repeat .-heading .-inpox span {
  margin: 0;
}

.heading-repeat .-heading .-inpox h2 {
  font: normal normal bold 32px/40px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
}

.heading-repeat .-heading .-inpox .-reserved {
  width: 28px;
  height: 28px;
  position: relative;
  background: #ec6d75;
  border-radius: 50%;
  margin-left: 13px;
}

.heading-repeat .-heading .-inpox .-reserved span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: normal normal 600 18px/56px "Quicksand";
  letter-spacing: 0px;
  color: #ffffff;
}

.heading-repeat .-heading a {
  margin-left: auto;
  margin-right: 0;
  font-weight: bold;
  color: #ffffff;
  background: #ec6d75;
  border-radius: 15px;
  padding: 8px 25px;
}

.my-availability-page .heading-repeat {
  margin-bottom: 75px;
}

.my-availability-page .availability {
  margin-bottom: 125px;
}

.my-availability-page .-dashboard .reservation {
  margin-bottom: 0px;
}

.my-messages-page .my-messages {
  margin-bottom: 0px;
}

.message-box .container {
  background: #fff;
  max-width: 1077px;
  -webkit-box-shadow: 0px 3px 30px #b2b2b23d;
          box-shadow: 0px 3px 30px #b2b2b23d;
  border-radius: 15px;
  padding: 49px 33px 26px 33px;
  margin: 0;
}

.message-box .messages .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 50px;
}

.message-box .messages .message:last-of-type {
  margin-bottom: 40px;
}

.message-box .messages .message img {
  width: 77px;
  height: 77px;
}

.message-box .messages .message .text {
  padding: 15px 23px;
  background: #ffeaea;
  border-radius: 15px;
  max-width: 655px;
}

.message-box .messages .message .text p {
  margin: 0;
  font: normal normal normal 16px/20px "Quicksand";
  letter-spacing: 0px;
  color: #272727;
}

.message-box .messages .message.-received img {
  margin-right: 30px;
}

.message-box .messages .message.-sent {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: auto;
  margin-right: 0;
}

.message-box .messages .message.-sent img {
  margin-left: 30px;
}

.message-box .messages .message.-sent .text {
  background: #f8f8f8;
}

.message-box .messages .message.-sent .text p {
  text-align: right;
}

.message-box .messages .-new-message {
  margin: 24px 0px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.message-box .messages .-new-message span {
  margin: 0;
  font: normal normal normal 15px/19px "Quicksand";
  letter-spacing: 0px;
  color: #ec6d75;
  overflow: hidden;
  text-align: center;
  display: block;
}

.message-box .messages .-new-message span:before, .message-box .messages .-new-message span:after {
  background-color: #ec6d75;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.message-box .messages .-new-message span:before {
  right: 0.5em;
  margin-left: -50%;
}

.message-box .messages .-new-message span:after {
  left: 0.5em;
  margin-right: -50%;
}
/*# sourceMappingURL=dashboard.css.map */